@import "color-swatch";

#main-navbar {
    position: fixed;
    top: 90%;
    left:0;
    height: 10%;
    width: 100%;
    float: left;
    background-color: @darkGray;
    display: flex;
    justify-content: center;

    .main-navbar-item-containers {
        /*color: @forest-green;*/
    }
}
