@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,600,400');
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700,300');
#intro {
  background: url(images/icw_sunset.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro #intro-header #title {
  color: #ffffff;
}
#intro .navbar .navbar-item-containers a:link,
#intro .navbar .navbar-item-containers a:hover,
#intro .navbar .navbar-item-containers a:visited,
#intro .navbar .navbar-item-containers a:active {
  color: #ffffff;
}
