@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,600,400');
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700,300');
/* line 5, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content {
  width: 100%
    position: relative;
  border-bottom: 4px solid #000000;
}
/* line 10, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-canvas {
  float: left;
  position: relative;
  margin-left: 5%;
  height: 70%;
  width: 65%;
  display: inline-block;
}
/* line 19, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls {
  float: left;
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  height: 70%;
  border: 4px solid #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 150%;
}
/* line 29, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls .control-group {
  margin-left: 5%;
  margin-top: 2%;
}
/* line 34, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls #map-controls-title {
  text-align: center;
  font-weight: 300;
  font-size: 200%;
}
/* line 40, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls #depth-finder-input {
  margin-right: 5%;
  width: 30%;
}
/* line 45, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls #depth-finder-info {
  margin-left: 6px;
}
/* line 49, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls #geolocation-container {
  margin-top: 2%;
}
/* line 52, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls #geolocation-container #turn-on-geolocation {
  margin-right: 3px;
}
/* line 56, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
#content #map-controls #geolocation-container #turn-off-geolocation {
  margin-left: 3px;
}
/* line 64, /Users/bradleysmith/workspace/grad_project/ICW_MagentaLine/css/map */
.scrollOff {
  pointer-events: none;
}
